@using InterviewQuestions.Models
@model TreeDataVM

@{
    ViewBag.Title = "Question2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Question2</h2>

<p>Average Price of Trees = @Model.AveragePrice.ToString("c") </p>
<p>Number of Firs = @Model.FirCount</p>

